{1419}{1515}I always wanted to leave my country|and go somewhere else.
{1548}{1607}I always wanted to come to France.
{1613}{1665}So, one day when I was 17, I left.
{1695}{1743}{Y:i}There I was in Paris.
{1815}{1915}{Y:i}Since I was a bit naive,
{1932}{2030}{Y:i}everyone seemed beautiful|and fabulous.
{2041}{2142}{Y:i}I couldn't tell cruelty from kindness.
{2147}{2250}{Y:i}For me, people were|the way they were.
{2259}{2345}{Y:i}You just worked with them|or talked with them.
{2368}{2448}{Y:i}Obviously, it was a big shock.
