{745}{784}I'm gonna get those fuckers!
{800}{911}This ain't the Bronx, right?|I'm gonna get the motherfuckers!
{927}{1007}I'm gonna corner him,|the motherfucker!
{1012}{1104}First one we see, straight up,|we whack the fucker!
{1108}{1141}Kneecap the fucker!
{1145}{1199}People just stood and watched.
{1205}{1264}- He stared at me.|- They're fuckin' losers.
{1272}{1318}The twins were there.
{1322}{1390}I swear on the Koran|I'll kill 'em both.
{1400}{1452}Who are these motherfuckers?
