[311][327]I'm gonna get those fuckers!
[334][380]This ain't the Bronx, right?|I'm gonna get the motherfuckers!
[387][420]I'm gonna corner him,|the motherfucker!
[422][461]First one we see, straight up,|we whack the fucker!
[462][476]Kneecap the fucker!
[478][500]People just stood and watched.
[503][527]- He stared at me.|- They're fuckin' losers.
[530][550]The twins were there.
[551][580]I swear on the Koran|I'll kill 'em both.
[584][606]Who are these motherfuckers?
