[592][632]I always wanted to leave my country|and go somewhere else.
[646][670]I always wanted to come to France.
[673][694]So, one day when I was 17, I left.
[707][727]/There I was in Paris.
[757][799]/Since I was a bit naive,
[806][847]/everyone seemed beautiful|/and fabulous.
[851][893]/I couldn't tell cruelty from kindness.
[895][938]/For me, people were|/the way they were.
[942][978]/You just worked with them|/or talked with them.
[988][1021]/Obviously, it was a big shock.
