FORMAT=TIME

31.08 1.63
I'm gonna get those fuckers!

0.67 4.63
This ain't the Bronx, right?
I'm gonna get the motherfuckers!

0.64 3.37
I'm gonna corner him,
the motherfucker!

0.20 3.84
First one we see, straight up,
we whack the fucker!

0.17 1.36
Kneecap the fucker!

0.17 2.23
People just stood and watched.

0.28 2.43
- He stared at me.
- They're fuckin' losers.

0.33 1.94
The twins were there.

0.17 2.83
I swear on the Koran
I'll kill 'em both.

0.44 2.16
Who are these motherfuckers?

