[INFORMATION]
[TITLE]
[AUTHOR]
[SOURCE]
[PRG]
[FILEPATH]
[DELAY]0
[CD TRACK]0
[COMMENT]
[END INFORMATION]
[SUBTITLE]
[COLF]&HFFFFFF,[STYLE]bd,[SIZE]18,[FONT]Arial

00:00:31.08,00:00:32.71
I'm gonna get those fuckers!

00:00:33.38,00:00:38.01
This ain't the Bronx, right?[br]I'm gonna get the motherfuckers!

00:00:38.65,00:00:42.02
I'm gonna corner him,[br]the motherfucker!

00:00:42.22,00:00:46.06
First one we see, straight up,[br]we whack the fucker!

00:00:46.23,00:00:47.59
Kneecap the fucker!

00:00:47.76,00:00:49.99
People just stood and watched.

00:00:50.27,00:00:52.70
- He stared at me.[br]- They're fuckin' losers.

00:00:53.04,00:00:54.97
The twins were there.

00:00:55.14,00:00:57.97
I swear on the Koran[br]I'll kill 'em both.

00:00:58.41,00:01:00.57
Who are these motherfuckers?

