[INFORMATION]
[TITLE]
[AUTHOR]
[SOURCE]
[PRG]
[FILEPATH]
[DELAY]0
[CD TRACK]0
[COMMENT]
[END INFORMATION]
[SUBTITLE]
[COLF]&HFFFFFF,[STYLE]bd,[SIZE]18,[FONT]Sans

00:00:59.19,00:01:03.20
I always wanted to leave my country[br]and go somewhere else.

00:01:04.58,00:01:07.01
I always wanted to come to France.

00:01:07.28,00:01:09.44
So, one day when I was 17, I left.

00:01:10.72,00:01:12.72
<i>There I was in Paris.</i>

00:01:15.71,00:01:19.86
<i>Since I was a bit naive,</i>

00:01:20.57,00:01:24.68
<i>everyone seemed beautiful</i>[br]<i>and fabulous.</i>

00:01:25.12,00:01:29.34
<i>I couldn't tell cruelty from kindness.</i>

00:01:29.55,00:01:33.83
<i>For me, people were</i>[br]<i>the way they were.</i>

00:01:34.24,00:01:37.82
<i>You just worked with them</i>[br]<i>or talked with them.</i>

00:01:38.76,00:01:42.11
<i>Obviously, it was a big shock.</i>

