00:00:31:I'm gonna get those fuckers!
00:00:33:This ain't the Bronx, right?|I'm gonna get the motherfuckers!
00:00:39:I'm gonna corner him,|the motherfucker!
00:00:42:First one we see, straight up,|we whack the fucker!
00:00:46:Kneecap the fucker!
00:00:48:People just stood and watched.
00:00:50:- He stared at me.|- They're fuckin' losers.
00:00:53:The twins were there.
00:00:55:I swear on the Koran|I'll kill 'em both.
00:00:58:Who are these motherfuckers?
