*.py[co]
.hidden
build/
ChangeLog
data/gaupol.desktop
data/patterns/*.capitalization
data/patterns/*.common-error
data/patterns/*.hearing-impaired
data/patterns/*.line-break
dist/
doc/api/
locale/
MANIFEST
TAGS
