include bin/*
include doc/MODULES
include doc/RELEASING
include doc/RELEASING.win32
include doc/gaupol.1
include po/*
recursive-include data *
recursive-include gaupol *.py
recursive-include tools *
include AUTHORS
include COPYING
include CREDITS
include ChangeLog
include INSTALL
include MANIFEST.in
include NEWS
include README
include TODO
include setup.py
