recursive-include aeidon *.py
recursive-include bin *
recursive-include data *
recursive-include doc *
recursive-include gaupol *.py
recursive-include manifests *
recursive-include po *
recursive-include tools *
include AUTHORS.md
include ChangeLog
include COPYING
include CREDITS.md
include INSTALL.md
include MANIFEST.in
include NEWS.md
include README.md
include README.aeidon.md
include setup.py
include TODO.md
include winsetup.py
global-exclude *~
global-exclude .hidden
global-exclude __pycache__
global-exclude TAGS
prune doc/formats
prune doc/sphinx/api
prune doc/sphinx/_build
exclude doc/sphinx/index.rst
