include AUTHORS
include ChangeLog
include COPYING
include gaupol
include INSTALL
include MANIFEST.in
include NEWS
include README
include setup.cfg
include setup.py
include TODO
recursive-include data *
recursive-include lib *.py
recursive-include po *
recursive-include tools *
