
#gaupol-floating-label {
  background-color: #8AADD4;
  border-top-right-radius: 5px;
  box-shadow: inset -1px 1px alpha(black, 0.3);
  color: #FFFFFF;
  font-weight: bold;
  padding: 2px 12px;
}

#gaupol-tab-close-button {
  -GtkButton-default-border: 0;
  -GtkButton-default-outside-border: 0;
  -GtkButton-inner-border: 0;
  -GtkWidget-focus-line-width: 0;
  -GtkWidget-focus-padding: 0;
  margin: 0;
  padding: 0;
}
