[Desktop Entry]
Encoding=UTF-8
Name=Gaupol Subtitle Editor
Name[es]=Gaupol Editor de subtítulos
Name[fi]=Gaupol Tekstitysmuokkain
Name[pl]=Edytor napisów Gaupol
GenericName=Subtitle Editor
GenericName[es]=Editor de subtítulos
GenericName[fi]=Tekstitysmuokkain
Comment=Edit subtitle files
Comment[es]=Edita subtítulos
Comment[fi]=Muokkaa tekstitystiedostoja
Comment[pl]=Edytuj pliki napisów
Exec=gaupol
Terminal=false
Type=Application
StartupNotify=true
Icon=gaupol
Categories=Application;AudioVideo;
