body
{
  background-color: white;
  color: #111111;
  font-family: sans-serif;
  font-size: small;
}

pre
{
  font-family: monospace;
  line-height: 160%;
}

/* Comment */
.com
{
  background-color: inherit;
  color: #1293de;
}

/* ??? */
.dir
{
  background-color: inherit;
  color: inherit;
}

/* ??? */
.dstr
{
  background-color: inherit;
  color: inherit;
}

/* String escape */
.esc
{
  background-color: inherit;
  color: #ff6696;
}

/* Keyword */
.kwa
{
  background-color: inherit;
  color: #b76fff;
}

/* __builtin__ */
.kwb
{
  background-color: inherit;
  color: #ff6fe7;
}

/* Exception */
.kwc
{
  background-color: inherit;
  color: #00bb29;
}

/* Function (both definitions and calls) */
.kwd
{
  background-color: inherit;
  color: #1d77ff;
}

/* Line anchor */
.line
{
  background-color: inherit;
  color: #bbbbbb;
  margin-right: 6px;
  user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
}

/* Number */
.num
{
  background-color: inherit;
  color: #ff6696;
}

/* Comment */
.slc
{
  background-color: inherit;
  color: #1293de;
}

/* String */
.str
{
  background-color: inherit;
  color: #ff6696;
}

/* Symbol */
.sym
{
  background-color: inherit;
  color: inherit;
}
