body
{
  background-color: white;
  color: #111111;
  font-family: sans-serif;
  font-size: small;
}

a.line-number
{
  -khtml-user-select: none;
  -moz-user-select: none;
  color: #BABDB6;
  user-select: none;
}

pre
{
  font-family: monospace;
  line-height: 1.4em;
}

.python-comment
{
  background-color: inherit;
  color: #3366FF;
}

.python-error
{
  background-color: inherit;
  color: #FF0000;
  font-weight: bold;
}

.python-keyword
{
  background-color: inherit;
  color: #FF4433;
}

.python-name
{
}

.python-number
{
  background-color: inherit;
  color: #B957FF;
}

.python-operator
{
}

.python-string
{
  background-color: inherit;
  color: #B957FF;
}

.python-text
{
}
