name: Test
on: [push]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: python -c "import sys; print(sys.version)"
      - run: >
          sudo apt-get update && sudo apt-get install -y
          flake8
          gettext
          gir1.2-gspell-1
          gir1.2-gst-plugins-base-1.0
          gir1.2-gstreamer-1.0
          gir1.2-gtk-3.0
          gstreamer1.0-gtk3
          gstreamer1.0-libav
          gstreamer1.0-plugins-bad
          gstreamer1.0-plugins-good
          gstreamer1.0-plugins-ugly
          iso-codes
          python3
          python3-chardet
          python3-dev
          python3-gi
          python3-gi-cairo
          python3-pytest
          xvfb
      - run: flake8 .
      - run: py.test-3 aeidon
      - run: xvfb-run py.test-3 gaupol
      - run: xvfb-run py.test-3 data/extensions
      - run: python3 setup.py install --prefix=/tmp/local
      - run: python3 setup.py install --root=/tmp/pkg
      - run: python3 setup.py clean
